//  Include fonts

// font-family: 'Oswald';
@font-face {
  font-family: 'Oswald';
  font-weight: normal;
  src: local('Oswald'), local('Oswald-Regular');
  src: url('../fonts/Oswald-Regular.eot');
  src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Oswald-Regular.woff') format('woff'),
  url('../fonts/Oswald-Regular.ttf') format('truetype'),
  url('../fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
}

// font-family: 'Oswald Light';
// font-weight: 400;
@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  src: local('Oswald'), local('Oswald-Light');
  src: url('../fonts/Oswald-Light.eot');
  src: url('../fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Oswald-Light.woff') format('woff'),
  url('../fonts/Oswald-Light.ttf') format('truetype'),
  url('../fonts/Oswald-Light.svg#Oswald-Ligh') format('svg');
}

// font-family: 'Garamond Premr Pro'
@font-face {
  font-family: 'Garamond Premr Pro';
  font-weight: normal;
  
  src: local('GaramondPremrPro'), local('GaramondPremrPro');
  src: url('../fonts/GaramondPremrPro.eot');
  src: url('../fonts/GaramondPremrPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GaramondPremrPro.woff') format('woff'),
  url('../fonts/GaramondPremrPro.ttf') format('truetype'),
  url('../fonts/GaramondPremrPro.svg#GaramondPremrPro') format('svg');
}

// font-family: 'Garamond Premr Pro'
@font-face {
  font-family: 'Garamond Premr Pro';
  font-style: italic;
  font-weight: 400;
  src: local('GaramondPremrPro'), local('GaramondPremrPro-It');
  src: url('../fonts/GaramondPremrPro-It.eot');
  src: url('../fonts/GaramondPremrPro-It.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GaramondPremrPro-It.woff') format('woff'),
  url('../fonts/GaramondPremrPro-It.ttf') format('truetype'),
  url('../fonts/GaramondPremrPro-It.svg#GaramondPremrPro-It') format('svg');
}

// Main title style
h1, h2, h3, h4, h5 {
  font-family: $font-family;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}
