// Buttons
.btn {
  display: inline-block;
  vertical-align: middle;
  background: none;
  outline: 0 none;
  border: 0 none;
  border-radius: 0;
  padding: 8px 25px;
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
}

.button {
    color: $text-color3;
    display: flex;
    font-family: $font-family;
    font-weight: 600;
    font-style: normal;
    border: none;
    border-left: 1px solid $text-color2;
    background-color: $body-bg;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;

    &__arrow {
        padding-left: 38px;
        color: $text-color3;

        &:hover {
            color: $text-color;
        }
    }

    &:hover {
        color: $text-color;
    }
}
