.header {
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, 0);                                  
  position: absolute;
  z-index: 1;
}


.nav-block {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 42px;

  &__link {
    color: $links-color;
    font-family: $font-family;
    font-size: $font-size2;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px;

    &--active {
        border-bottom: 2px solid $links-color;
    }

    &:hover {
      border-bottom: 2px solid $links-color;
    }

}

  &__item {
    padding-left: 25px;
    padding-right: 25px;
  }
}
